input.curated-object-id {
    width: 10em;
}

.curated-object-id-row > div > .span-flexible {
    padding-left: 130px;
}

.curated-object-id-row > div > .span-flexible > input.curated-object-id {
    margin-left: -130px;
}

a.curated-related-lookup {
    border: 1px solid #ccc;
    background-color: #E1F0F5;
    display: inline-block;
    margin-bottom: -5px;
    width: 23px;
    height: 22px;
    top: 1px;
    font-size: 0;
    line-height: 0;
    background: 50% 50% no-repeat;
    position: relative;
    margin-left: -25px;
    -webkit-border-top-left-radius:     0;
    -webkit-border-bottom-left-radius:  0;
    -webkit-border-top-right-radius:    4px;
    -webkit-border-bottom-right-radius: 4px;
       -moz-border-radius-topleft:      0;
       -moz-border-radius-bottomleft:   0;
       -moz-border-radius-topright:     4px;
       -moz-border-radius-bottomright:  4px;
            border-top-left-radius:     0;
            border-bottom-left-radius:  0;
            border-top-right-radius:    4px;
            border-bottom-right-radius: 4px;
}

a.curated-related-lookup:link, a.curated-related-lookup:visited {
    background-image: url('img/icon-related-lookup.png'), -moz-linear-gradient(top, #ebf2f5, #e1f0f5);
    background-image: url('img/icon-related-lookup.png'), -webkit-gradient(linear, left top, left bottom, from(#ebf2f5), to(#e1f0f5));
    background-image: url('img/icon-related-lookup.png'), -o-linear-gradient(top, #ebf2f5, #e1f0f5);
}

a.curated-related-lookup:hover, a.curated-related-lookup:active {
    background-image: url('img/icon-related-lookup-hover.png'), -moz-linear-gradient(top, #e1e1e1, #eee);
    background-image: url('img/icon-related-lookup-hover.png'), -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#eee));
    background-image: url('img/icon-related-lookup-hover.png'), -o-linear-gradient(top, #e1e1e1, #eee);
}

a.curated-related-lookup + span.curated-related-label {
    color: #555;
    position: relative;
    top: -4px;
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
}